import { storiesOf } from "@storybook/react";
import * as React from "react";
// import { <%- component %> } from "./<%- component %>";

storiesOf("@kaggle/components/design/beta/<%- component %>", module).add("todo", () => (
  <h1>Implement Me!</h1>
  // <<%- component %> />
));
